.card__container {
	position: relative;
	width: 350px;
	height: 500px;
	display: flex;
	overflow: hidden;
	margin: 10px 0;
	transition: transform .4s;
	box-shadow: 0 0 5px 1px rgba(34, 34, 34, 0.5);
}

.card__img {
	min-width: 100%;
	min-height: 100%;

}

.card__container:hover {
	transform: scale(1.02);
	border: 2px solid #fff;
}
