<div class="home__container">
	<app-card
	gameCover="assets/eafc24.webp"
	gameLabel="Exclusive"
	gameType="Digital Game"
	console="PS5"
	gamePrice="R$ 369,99"	>
	</app-card>

	<app-card
	gameCover="assets/fifa19.jpg"
	gameLabel="Digital"
	gameType="Digital Game"
	console="PS4"
	gamePrice="R$ 89,99"	>
	</app-card>

	<app-card
	gameCover="assets/bt-1.jpg"
	gameLabel="New"
	gameType="Digital Game"
	console="PS5"
	gamePrice="R$ 299,99"	>
	</app-card>
	<app-card
	gameCover="assets/ac-cover.jpg"
	gameLabel="Digital"
	gameType="Digital Game"
	console="PS4"
	gamePrice="R$ 199,99"	>
	</app-card>
	<app-card
	gameCover="assets/fifa22.webp"
	gameLabel="Digital"
	gameType="Digital Game"
	console="PS4"
	gamePrice="R$ 119,99"	>
	</app-card>
	<app-card
	gameCover="assets/bt-hardline.jpg"
	gameLabel="Expansão"
	gameType="Expansão"
	console="PS4"
	gamePrice="R$ 69,99"
	>
	</app-card>
</div>
